*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
body{
	font-family:Nunito;
}
.navigation {
	background-color:#fff !important;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.navigation button{
	background-color: #00c6ca;
	outline:none;
}
.navigation .navbar-brand img{
  width:40px;
  height:40px;
  border-radius:50%;
}
.navigation .navbar-brand span{
  color: #00c6ca;
  font-size: 1.7rem;
  font-family: 'Montserrat',sans-serif;
  font-weight:bolder;
  margin-left:5px;
}
.navigation .navbar-brand span:hover{
  color:black;
}
.navigation ul li a{
    color: rgba(0,0,0,.5);
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    font-size:.9rem;
}
.navigation ul .home{
	color:black !important;
	font-weight: 600;
  font-family: 'Montserrat',sans-serif;
}
.navigation ul li a:hover{
	color: #212529 !important;
}
.navigation ul li a{
  text-decoration:none;
  font-family: 'Montserrat',sans-serif;
  text-transform:uppercase;
  margin-top:-5px;
  color: #00c6ca;
}
.navigation ul li ul{
  margin-top:-12px;
  border-style:none;
}
.navigation ul li ul li a{
  color: blue !important;
}
.navigation ul li ul img{
  height:18px;
}
.page-name{
    padding-top:17px;
    background-color:#00c6ca;
    padding-bottom:1px;
    margin-bottom:10px;
  }
  .page-name ul li{
    display:inline-block;
  }
  .page-name ul li a{
    text-decoration:none;
    font-size: 1rem;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
    color:black;
  }
  .page-name ul li a:hover{
    color:#fff;
  }
  .page-name ul li a span{
    color:black;
  }
  .widget {
    padding-top: 30px;
      margin-top:-10px;
      background-color: #F2F3F4 ;
      /* border-top:3px solid black !important;
      border-bottom:3px solid black !important; */
  }

  .widget th:hover{
      color: #00c6ca;
      cursor: pointer;
  }
  .widget thead th{
    color: black;
      border-right:0.5px solid #fff !important;
  }
  .widget thead th .up{
    color: #27AE60  ;
}
.widget thead th .down{
    color: #ef5350;
}
.widget th h6{
      margin-top:-8px;
      font-size:14px;
  }
.widget th h5 span{
    font-size:12px;
    margin-left:10px;
    margin-bottom:-10px;
   }
.widget th h5{
    margin-bottom:-5px;
   }
   .niftyportion h2{
    color: black;
    margin-left:20px;
    padding-top: 24px;
    font-size: 42px;
    font-weight: 400;
    font-family: 'latoblack', arial;
 }   
 .niftyportion h4{
    color: #28B463;
    margin-left:20px;
    font-size: 28px;
    padding-top:10px;
    font-weight: 400;
    font-family: 'latoblack', arial;
 }
 .niftyportion h4 span{
    color: #28B463;
    margin-left:10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'latoblack', arial;
 }
 .niftyportion hr{
     border: hidden;
     height:2.5px;
     width:17%;
     background-color: #26a69a;
     margin-top:-3px;
 }
 .niftyportion table{
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.22);
 }
 .niftyportion table thead{
  color: #00c6ca;
}
.niftyportion table tbody:hover{
  cursor: pointer;
}
.niftyportion table tbody{
  font-size: 16px;
  font-weight:600;
  font-family:Montserrat,sans-serif; ;
}
.niftyportion table .up{
 color: #27AE60;
}
.niftyportion table .down{
  color: red;
 }
 .niftyportion thead{
  border-left:3px solid rgb(8, 10, 141) !important;
  /* border-bottom:3px solid blue !important; */
}
.niftyportion tbody:nth-child(even){
  border-left:3px solid #00c6ca !important;
}
.visit {
    padding-top:20px;
    padding-bottom:50px;
  }
  .visit .card{
    border-style:hidden;
    margin-top:20px;
  }
  .visit .card .card-body{
    background-color:#F8F9F9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.22);
  }
  .visit h1{
    color:#00c6ca;
    font-family:sans-serif;
  
  }
  .visit #headtitle{
    margin:auto;
    width:410px;
    text-align:center;
  }
  .visit img{
    box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
    height:200px;
    width:350px;
  }
  .visit p{
    font-family:sans-serif;
    text-align:justify;
  }
  .visit h6{
    font-family:Montserrat;
    text-transform:capitalize;
    color:#00c6ca;
    font-weight:600;
    font-size:17px;
  }
  .visit ul{
    list-style:none;
  }
  .visit ul li a{
    list-style:none;
    text-decoration:none;
    color:#00c6ca;
    font-size:16px;
    font-family:sans-serif;
  }
  .visit ul li a:hover{
    color:black;
  }
  
  .visit ul li i{
    color:#566573;
    font-size:6px;
  }
  .hashtag {
    padding-top:-20px;
  }
  .hashtag .card{
    border-style:hidden;
    margin-top:20px;
  }
  .hashtag .card .card-body{
    /* background-color:#F8F9F9; */
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25), 0px 0px 2px rgba(0,0,0,0.22);
  }
  .hashtag a{
    text-decoration: none !important;
    margin: 2px;
}
.hashtag a:hover{
    text-decoration: none !important;
    color:red;
}
.aboutus {
  padding-bottom:30px;
  padding-top:10px;
  margin-top:20px;
  background-color:#00c6ca!important;
}
.aboutus h5{
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Montserrat,sans-serif;
}
.aboutus ul li{
  list-style:none;
  font-weight:400;
  font-family: Montserrat,sans-serif;
  text-decoration:none;
  margin-top:5px;
  font-size:1rem;
}
.aboutus .callast{
  margin-bottom:100px;
}
.aboutus .aboutlast{
  margin-bottom:150px;
}
.aboutus .downlast{
  margin-bottom:150px;
}
.aboutus li a{
  color:white;
  text-decoration:none;
}
.aboutus ul li i{
  color:white;
}
.aboutus ul li a:hover{
  color:black;
}
.aboutus ul li a:hover i{
  color:black;
}
.aboutus span i {
  display:none;
  position:fixed;
  background-color:black;
  color:#fff;
  margin-right:10px;
  font-size:25px !important; position:fixed;
  bottom:100px;
  right:2px;
  cursor: pointer;
  padding:7px 12px;
}
.aboutus span i:hover{
 cursor:pointer;
 color: #00c6ca;
}
footer{
  background-color:black;
  padding-bottom:25px;
  padding-top:25px;
}
footer p{
  color:white;
  font-size:1.1rem;
  text-align:center;
  margin-bottom:0px;
}


@media (max-width:459px){
  .navigation ul li a{
    border-right:0px solid black;
}
.page-name{
  margin-top:-24px;
}
.widget{
    display: none;
} 
.aboutus .callast{
  margin-bottom:00px;
}
.aboutus .aboutlast{
  margin-bottom:0px;
}
.aboutus .downlast{
  margin-bottom:0px;
  }
}


@media (min-width:460px) and (max-width:574px){
    .navigation ul li a{
    border-right:0px solid black;
}
.page-name{
  margin-top:-24px;
}
.widget{
    display: none;
} 
  .aboutus .callast{
  margin-bottom:00px;
}
.aboutus .aboutlast{
  margin-bottom:0px;
}
.aboutus .downlast{
  margin-bottom:0px;
  }
}


@media (min-width:575px) and (max-width:767px){
    .navigation ul li a{
    border-right:0px solid black;
}
.page-name{
  margin-top:-24px;
}
     .aboutus .callast{
  margin-bottom:00px;
}
.aboutus .aboutlast{
  margin-bottom:0px;
}
.aboutus .downlast{
  margin-bottom:0px;
  }
}


@media (min-width:768px) and (max-width:991px){
  .navigation .navbar-brand img{
  width:30px;
  height:30px;
}
.page-name{
  margin-top:-24px;
}
.navigation .navbar-brand span{
  color: #00c6ca;
  font-size: 1.2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight:bolder;
  margin-left:5px;
}
.navigation ul li a{
    font-size:.52rem;
}

.aboutus .callast{
  margin-bottom:180px;
}

}


@media (min-width:992px) and (max-width:1300px){
    .navigation .navbar-brand img{
  width:30px;
  height:30px;
}
.page-name{
  margin-top: -35px;
}
.navigation .navbar-brand span{
  color: #00c6ca;
  font-size: 1.2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight:bolder;
  margin-left:5px;
}
.navigation ul li a{
    font-size:.8rem;
}
    .aboutus .callast{
  margin-bottom:180px;
}
.aboutus .aboutlast{
  margin-bottom:230px;
}
.aboutus .downlast{
  margin-bottom:270px;
  }
}